<form name="myForm" novalidate>
	<h3 align="center">Find Your Account</h3>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label class="control-label">Enter Your Email-ID</label> 
			<input type="email" class="form-control" data-ng-model="user.emailId"
				name="emailid"
				required> <span style="color: red"
				data-ng-show="myForm.emailid.$dirty && myForm.email.$invalid">
				<span data-ng-show="myForm.email.$error.required">Email is
					required.</span> <span data-ng-show="myForm.emailid.$error.email">Invalid
					email address.</span>
			</span>
		</div>
	</div>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<button id="buttons" type="submit" data-ng-click="enterEmail()"
				data-ng-disabled="myForm.emailid.$dirty && myForm.emailid.$invalid">Submit</button>
		</div>
	</div>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<div>
				<a href="#!/login">Remember Your Password?</a>
			</div>
		</div>
	</div>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group" data-ng-bind="message"></div>
	</div>
	<div class="row"></div>

</form>