<form>
	<h3 align="center">Re-set New Password</h3>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label class="control-label">Enter New Password</label> 
			<input type="password" class="form-control"
				data-ng-model="user.newPassword" name="emailId" required>
		</div>
	</div>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<label class="control-label">Re-Enter The New Password</label> 
			<input type="password" class="form-control"
				data-ng-model="user.reEnterNewPassword" name="username" required>
		</div>
	</div>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<button id="buttons" type="submit" data-ng-click="resetPassword()">Submit</button>
		</div>
	</div>
	<div class="col-sx-12 col-md-12 col-lg-12">
		<div class="form-group">
			<div>
				Want To try <a href="#!/login">Sign-In Again?</a>
			</div>
		</div>
	</div>
	<div class="row"></div>
</form>